<div class="container">
  <div class="large-4 form">
    <form action="<%= events_path %>" method="post">
      <%= token_tag %>
      <fieldset>
        <legend>Schedule Your Match</legend>
        <label>Event Name</label>
        <input class="input-field" type="text" name="name" maxlength="30">

        <label>Start Date</label>
        <input type="date" name="startDate">

        <label>End Date</label>
        <input type="date" name="endDate">

        <label>Number of Players</label>
        <select name="players">
          <option value=""></option>
          <option value="one">1 Player</option>
          <option value="two">2 Players</option>
          <option value="three">3 Players</option>
          <option value="four">4 Players</option>
        </select>
        <hr />

        <label>Scoring Type</label>
        <input type="radio" name="scoreType" value="gross">Gross
        <input type="radio" name="scoreType" value="net">Net
          <div id="netOptions">
            <label>Handicap</label>
            <select class="handicap"></select>
            <label>Dot Cards</label>
            <select name="dotCard">
              <option value=""></option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
        <hr />

        <label>Use Flights:</label>
        <input type="radio" name="flights" value="yes">Yes
        <input type="radio" name="flights" value="no">No
        <hr />

        <label>Use Cuts</label>
        <input type="radio" name="cut" value="yes">Yes
        <input type="radio" name="cut" value="no">No
        <div id="cutOptions">
          <label>Include Ties</label>
          <select name="includeTies">
            <option value=""></option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
          <label>Include Ten From Lead</label>
          <select name="includeTen">
            <option value=""></option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
        <hr />

        <label>Club Hometown</label>
        <input type="radio" name="hometown" value="clubName">Use Club Name
        <input type="radio" name="hometown" value="hometown">Use Hometown

        <input class="button tiny round expand" type="submit" value="Submit">
      </fieldset>
    </form>
  </div>
</div>
